PORT=10000
NODE_ENV=production
SPRING_PROFILES_ACTIVE=prod
MONGODB_URI="mongodb+srv://bwnhmchadmin:5tiGdsWdptlovY30@cluster0.buygri4.mongodb.net/bwnhmch?retryWrites=true&w=majority&appName=Cluster0"
JWT_SECRET=GenerateAVeryLongRandomSecretAtLeast32Characters
JWT_EXPIRATION=86400000
CLIENT_URL=https://bwnhmch-qu7p.vercel.app
CLOUDINARY_CLOUD_NAME=ndytm2fy
CLOUDINARY_API_KEY=796437452988145
CLOUDINARY_API_SECRET=y0NqZCj61XzTaiiIDvxG5TS7drQ
CLOUDINARY_URL=cloudinary://796437452988145:y0NqZCj61XzTaiiIDvxG5TS7drQ@ndytm2fy
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=bwnhmch@gmail.com
SMTP_PASSWORD=axgmsnipgzdzwuhp
